.home__page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
}
.card-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  /* backface-visibility: hidden; */
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-list:hover{
  transform: scale(1.05);
}

.card_container{
  min-width: 30%;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-size: 10px;
}
.App{
  text-align: center;
}
.icon__wrapper span{
  width: auto;
  margin:  0px 10px 0px 10px;
  cursor: pointer;
  font-size: 20px;
}
.icon__wrapper span:hover{
  color: rgb(75, 209, 13);
}
.task{
  color: rgb(209, 42, 13);
}
.addform{
  display: flex;
  margin: 10px;
}
.addform input{
  border-radius: 5px;
  padding: 10px;
  border: #95dada;
  margin: 5px;
}