* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  background-color: #ade5f9;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}
.card::after,
.card img {
  border-radius: 50%;
}
body,
.card {
  display: flex;
}
